<%= form_for @inform, html: {multipart: true} do |f| %>

    <div class="field">
        <%= f.collection_select :category_id, Category.all, :id, :name, { promt: "Choose a category" } %>
    </div>
    <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :content %>
        <%= f.text_field :content %>
    </div>
    <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
    
<% end %>