    <script type="text/javascript" src="4fc287b0f2de9d0c332535f95baccb4c"></script>

<p>
    <h4><%= @inform.title %></h4>
</p>
<p>
    <h6><%= @inform.content %></h6>
</p>

<% if @inform.id == 1 %>
    <div class="post-show-maps">
        <div id="map" style="width:300px;height:300px;"></div>
            <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=4fc287b0f2de9d0c332535f95baccb4c"></script>

            <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = { 
                    center: new daum.maps.LatLng(37.546076, 127.068301), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                    };
            var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
            </script>
    </div>
    <a href="https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=건대 신전떡볶이">검색결과</a>
<% end %>

<% if @inform.id == 2 %>
    <div class="post-show-maps">
        <div id="map" style="width:300px;height:300px;"></div>
            <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=4fc287b0f2de9d0c332535f95baccb4c"></script>

            <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = { 
                    center: new daum.maps.LatLng(37.545464, 127.075760), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                    };
            var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
            </script>
    </div>
    <a href="https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=건대 불난떡볶이">검색결과</a>
<% end %>

<% if @inform.id == 3 %>
    <div class="post-show-maps">
        <div id="map" style="width:300px;height:300px;"></div>
            <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=4fc287b0f2de9d0c332535f95baccb4c"></script>

            <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = { 
                    center: new daum.maps.LatLng(37.542219, 127.070476), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                    };
            var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
            </script>
    </div>
    <a href="https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=건대 짚신">검색결과</a>
<% end %>


<%= link_to '후기보기', posts_path %><br>
<%= link_to 'Edit', edit_inform_path %>
<%= link_to 'Home', root_path %>
<%= link_to 'Delete', inform_path(@inform), method: :delete, data:{confirm: "Are you sure?"} %>